<!-- @@master = ../base/template_base.html -->

<!-- @@block = responsive -->
<style>
@media (max-width:2560px) {
    #MessageViewBody a {
        color: inherit;
        text-decoration: none;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
    }

    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

    u + #body a {
        color: inherit;
        text-decoration: none;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
    }

    a[href],
    a[href^=tel],
    a[href^=address] {
        color:inherit;
    }
}

@media (max-width:450px) {
    .h2 br {
        display:none;
    }

    .footer td {
        width:100% !important;
        display:block !important;
    }
    .footer .link table {
        width:150px !important;
    }
    .footer .link td {
        padding-top:20px !important;
        text-align:right !important;
        width:auto !important;
        display:table-cell !important;
    }

    .spacer.mobile_40px {
        padding-top:22px !important;
        padding-bottom:22px !important;
    }
}

@media (min-width:600px) {
    .container {
        padding-left:40px !important;
        padding-right:40px !important;
    }
}

</style>
<!-- outlook desktop 대응 스타일 -->
<!--[if mso | ie]>
<style>
.container {
    padding-left:40px !important;
    padding-right:40px !important;
}

.en .h1,
.en .h1 span {
    line-height:1.1 !important;
    font-family:"맑은고딕", malgun gothic, sans-serif !important;
}

.spacer._80px {
    padding-top:32px !important;
    padding-bottom:32px !important;
}
</style>
<![endif]-->
<!-- @@close -->

<!-- @@block = content -->
<link rel="stylesheet" href="local.css">

<table><tr><td class="spacer _50px">&nbsp;</td></tr></table>
<table class="ko">
    <tr>
        <td class="container">
            <table>
                <tr>
                    <td class="header">
                        <table>
                            <tr>
                                <td class="img">
                                    <img src="https://gallery.mailchimp.com/37dd12f9229fee29509e2fffa/images/1a3eef36-eecf-439b-a4a9-1dc5087d900e.png" alt="" width="89" height="101">
                                </td>
                            </tr>
                            <tr>
                                <td class="h1">
                                    안녕하세요.
                                    EOSYS입니다.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table class="hr"><tr><td class="line spacer _80px"><hr></td></tr></table>

            <table>
                <tr>
                    <td class="description">
                        2018년은 EOSYS에게 참으로 뜻깊은 한 해였습니다.<br /><br />
                        대한민국의 첫 번째 EOS BP 후보로 등록을 마쳤고, 여러분의 많은 도움에 힘입어 세계 14위로 정식 블록 생성자가 되기로 했습니다. 또한 세계 첫 iOS용 EOS 지갑 앱 'NOVA'를 출시하여 큰 반향을 일으켰습니다. 코리오스(KOREOS)와 함께 EOS DApp Festa를 개최하며 EOS에 대한 많은 사랑과 관심을 확인하였습니다.<br />

                        한편 EOSIO 기반 로컬 체인인 WORBLI와의 파트너십을 발표하였으며, EOS42에 의해 개발 및 유지 관리되고 있는 P2P EOS 토큰 임대 플랫폼인 친타이의 투표관리인 중 하나로 선정되었습니다.<br />
                        <br />
                        현재 EOS는 성공적인 메인넷 런칭 후 안정화 시기에 진입하였고, 전 세계의 수많은 사람들은 EOS의 가치에 주목하고 있습니다. 2019년에도 이어질 EOSYS의 활약을 기대해주시고 저희는 그 기대에 부응할 수 있도록 더 열심히 달려나가도록 하겠습니다.<br /><br />
                        감사합니다.
                    </td>
                </tr>
            </table>

            <table class="hr"><tr><td class="line spacer _80px"><hr></td></tr></table>

            <table>
                <tr>
                    <td class="subscribe">
                        <table>
                            <tr>
                                <td class="h2">
                                    체인파트너스 뉴스레터를 구독하고<br />
                                    디지털 자산 시장 분석 보고서와 최신 소식을 받아보세요.
                                </td>
                            </tr>
                            <tr><td class="spacer _15px">&nbsp;</td></tr>
                            <tr>
                                <td class="p">
                                    체인파트너스는 EOS 블록 프로듀서 EOSYS뿐만 아니라 거래소, 블록체인 플랫폼, 토큰 발행 자문, 디지털 자산 장외거래와 같이 다양한 블록체인 관련 사업을 운영하고 투자하는 한국의 첫 블록체인 컴퍼니 빌더입니다.
                                </td>
                            </tr>
                            <tr><td class="spacer _40px">&nbsp;</td></tr>
                            <tr>
                                <td class="button" height="70">
                                    <a href="https://partners.us19.list-manage.com/subscribe?u=e8ad981263be1cab85d86b3ba&id=68f7de4629&incoming=eosys" target="_blank" rel="noopener">
                                        <span>뉴스레터 신청하기</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>



<table><tr><td class="spacer _60px mobile_40px">&nbsp;</td></tr></table>
<table class="hr"><tr><td class="line bold" height="8"><hr></td></tr></table>
<table><tr><td class="spacer _50px">&nbsp;</td></tr></table>


<!-- ---------------------------- eng ---------------------------- -->
<!-- ---------------------------- eng ---------------------------- -->
<!-- ---------------------------- eng ---------------------------- -->
<!-- ---------------------------- eng ---------------------------- -->

<table>
    <tr>
        <td class="container">
            <table>
                <tr>
                    <td class="header">
                        <table>
                            <tr>
                                <td class="img">
                                    <img src="https://gallery.mailchimp.com/37dd12f9229fee29509e2fffa/images/1a3eef36-eecf-439b-a4a9-1dc5087d900e.png" alt="" width="89" height="101">
                                </td>
                            </tr>
                            <tr>
                                <td class="h1">
                                    <span>Hello,</span>
                                    <span>this is EOSYS.</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table class="hr"><tr><td class="line spacer _80px"><hr></td></tr></table>

            <table>
                <tr>
                    <td class="description">
                        We truly thank you all for paying attention to EOSYS.<br />
                        2018 has been a special year to EOSYS.<br />
                        <br />
                        We announced our BP candidacy as the first player in Korea, and became top 14th block producer when the mainnet was alive. We published the first EOS wallet 'NOVA’. Also we hosted the EOS DApp Festa with KOREOS and felt the enthusiasm toward EOS DApps.<br />
                        We partnered with EOSIO based sister chain WORBLI, and became one of the Chintai (P2P EOS token leasing platform) proxy governors.<br />
                        Now, the EOS mainnet has turned into the stabilizing stage after the launch, numerous people worldwide are looking at the value of EOS.<br />
                        <br />
                        Stay tuned with EOSYS,<br />
                        We will run toward the community expectations.
                    </td>
                </tr>
            </table>

            <table class="hr"><tr><td class="line spacer _80px"><hr></td></tr></table>

            <table>
                <tr>
                    <td class="subscribe">
                        <table>
                            <tr>
                                <td class="h2">
                                    Subscribe Chain Partners Global Newsletter to catch up with digital asset in-depth report and recent articles about the company.
                                </td>
                            </tr>
                            <tr><td class="spacer _15px">&nbsp;</td></tr>
                            <tr>
                                <td class="p">
                                    Chain Partners is conducting various blockchain related businesses including EOSYS, EOS block producer. It also operates digital asset exchange, blockchain platform project, ICO advisory and OTC trading.
                                </td>
                            </tr>
                            <tr><td class="spacer _40px">&nbsp;</td></tr>
                            <tr>
                                <td class="button" height="70">
                                    <a href="https://partners.us19.list-manage.com/subscribe?u=e8ad981263be1cab85d86b3ba&id=5651976dc1&incoming=eosys" target="_blank" rel="noopener">
                                        <span>SUBSCRIBE</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table><tr><td class="spacer _60px mobile_40px">&nbsp;</td></tr></table>

<table>
    <tr>
        <td class="footer container">
            <table>
                <tr>
                    <!--[if mso]><td class="spacer width_20px" width="20">&nbsp;</td><![endif]-->
                    <td class="p contact">
                        Copyright © 2019 EOSYS, All rights reserved.<br />
                        <br />
                        Wework Seolleung<br />
                        06210&zwnj; 302, &zwnj;Teheran-ro &zwnj;Gangnam-gu &zwnj;Seoul, &zwnj;Korea<br /><br>
                        Want to change how you receive these emails?<br />
                        You can
                        <a href="*|UNSUB|*" target="_blank" rel="noopener"><!--[if mso]><font color="#9b9b9b"><![endif]-->unsubscribe from this list<!--[if mso]></font><![endif]--></a>.
                    </td>
                    <td class="link">
                        <table>
                            <tr>
                                <td>
                                    <a href="https://eosys.io" target="_blank" rel="noopener">
                                        <img width="40" height="40" src="https://gallery.mailchimp.com/37dd12f9229fee29509e2fffa/images/85e58fd4-d657-4e6b-bf10-8fe749474c5f.png">
                                    </a>
                                </td>
                                <td>
                                    <a href="https://www.youtube.com/channel/UCfqueDutLB7th60V6ZZX9Ww" target="_blank" rel="noopener">
                                        <img width="40" height="40" src="https://gallery.mailchimp.com/37dd12f9229fee29509e2fffa/images/e5e5f7a3-706c-489e-b64d-8815be9915a8.png">
                                    </a>
                                </td>
                                <td>
                                    <a href="https://twitter.com/@eosys_io" target="_blank" rel="noopener">
                                        <img width="40" height="40" src="https://gallery.mailchimp.com/37dd12f9229fee29509e2fffa/images/dcc13b55-d782-46e0-97b3-11bacd711ad2.png">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!--[if mso]><td class="spacer width_20px" width="20">&nbsp;</td><![endif]-->
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- @@close -->
