/* global */
table * {
    letter-spacing:-0.2px;
}

.hr {
    width:100%;
}

.hr .line hr {
    border-radius:0;
    background-color:#eee;
    border:0;
    border-top:1px solid #eee;
    color:#eee;
    margin:0;
    box-sizing:border-box;
}

.hr .line.bold hr {
    box-sizing:border-box;
    /* border-top:8px solid #eee; */
    border-top:0;
    background-color:#eee;
    height:8px;
    font-size:8px;
    box-sizing:border-box;
}

td {
  font-size: 14px;
  line-height: 1.29;
  color: #222222;
}

.container {
    padding-left:20px;
    padding-right:20px;
}

.spacer._20px {
    line-height:100%;
    padding-top:10px;
    padding-bottom:10px;
    font-size:0;
}

.spacer._15px {
    line-height:100%;
    padding-top:8px;
    padding-bottom:7px;
    font-size:0;
}

.spacer._40px {
    font-size:0;
    line-height:100%;
    padding-top:20px;
    padding-bottom:20px;
}

.spacer._50px {
    font-size:0;
    line-height:100%;
    padding-top:25px;
    padding-bottom:25px;
}

.spacer._60px {
    font-size:0;
    line-height:100%;
    padding-top:30px;
    padding-bottom:30px;
}

.spacer._80px {
    font-size:0;
    line-height:100%;
    padding-top:40px;
    padding-bottom:40px;
}


.spacer.width_20px {
    width:20px;
    padding-left:10px;
    padding-right:10px;
    color:transparent;
    font-size:1px;
}

.spacer.width_10px {
    width:10px;
    color:transparent;
    font-size:0px;
}

.header .img {
    height:101px;
    text-align:center;
    padding-bottom:18px;
}

.header .h1 {
    word-break:keep-all;
    text-align:center;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.13;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ff4176;
    padding-left:40px;
    padding-right:40px;
    font-family:'AppleSDGothicNeo-Light','Apple SD Gothic Neo','맑은고딕', malgun gothic, sans-serif;
}

.header .h1 span {
    display:inline-block;
}

.h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    color: #222222;
}

.p {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.1px;
    color: #989ba0;
}

.button {
    width:100%;
    /* padding-top:23px; */
    /* padding-bottom:23px; */
    background-color: #ff4176;
    text-align:center;
}

.button a {
    display:block;
    text-align:center;
    width:100%;
}

.button span {
    display:block;
    text-align:center;
    width:100%;
    padding:23px 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    font-family:"AppleSDGothicNeo-semibold","Apple SD Gothic Neo","맑은고딕", malgun gothic, sans-serif;
}

.en .button a {
    font-family:"SFProDisplay-semibold","SFProDisplay","AppleSDGothicNeo-Light","Apple SD Gothic Neo","맑은고딕", malgun gothic, sans-serif;
}

.footer {
    padding-top:40px;
    padding-bottom:38px;
    background:#f9fafc;
}

.footer .p {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
    color: #9b9b9b;
}

.footer .p a {
    color:inherit;
    text-decoration:underline;
}

.footer .link,
.footer .link td {
    vertical-align:top;
    text-align:right;
}

.footer .link {
    width:150px;
}

.footer .link td,
.footer .link td a {
    font-size:0;
}
