<!-- @@master = ../base/template_base.html -->

<!-- @@block = content -->
<style>
/* type global */
.button {
    text-align:right;
}

.button a {
    display:inline-block;
    font-family: 'Noto Sans KR';
    font-size: 11px;
    font-weight: bold;
    letter-spacing: -0.2px;
    color: #194696;
    padding:7.7px 1.25em;
    border:1px solid #194696;
}
.hr.line {
    font-size:0;
    border-top:1px solid #f5f5f5;
}

</style>







<style>
.header {
    padding:23px 20px;
}

.header .h1 {
    font-family: 'Source Serif Pro';
    font-size: 1.833333333em;
    line-height: 1.23;
    color: #000000;
}

.header .p {
    font-family: 'Source Serif Pro';
    font-size: 1.333333333em;
    color: #0e2e68;
    padding-top:28px;
    padding-bottom:16px;
}
</style>
<table>
    <tr>
        <td class="header">
            <table>
                <tr>
                    <td class="h1">
                        Chain Partners <br>
                        Monthly Newsletter
                    </td>
                </tr>
                <tr>
                    <td class="p">
                        December 28, 2018
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<style>
.ci {
    text-align:right;
}

.ci img {
    margin-top:-73px;
    width:111px;
    height:111px;
}
</style>
<table>
    <tr>
        <td class="ci">
            <img src="https://gallery.mailchimp.com/e8ad981263be1cab85d86b3ba/images/e51178c5-dcd8-4cb7-9169-1a5690cdb7b4.png" alt="">
        </td>
    </tr>
</table>

<style>
.forecast_wrapper {
    margin-top:-48px;
}
.forecast {
    background:url('https://gallery.mailchimp.com/e8ad981263be1cab85d86b3ba/images/1e08d04c-450f-4bde-ab7a-751cbfdf9386.png') center center no-repeat #085da5;
    background-size:cover;
    padding:40px 20px 30px;
}

.forecast .h2 {
    font-family: Roboto;
    font-size: 1.833333333em;
    color: #ffffff;
    text-transform:uppercase
}

.forecast .p {
    font-family: 'Noto Sans KR';
    font-size: 1em;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #cfe9ff;
    padding-top:14px;
}

.forecast .button {
    padding-top:20px;
    text-align:right;
}

.forecast .button a {
    font-size:.916666667em;
    color: #ffffff;
    border:1px solid #fff;
}
</style>
<table class="forecast_wrapper">
    <tr>
        <td class="forecast">
            <table>
                <tr>
                    <td class="h2">
                        2019 Forecast
                    </td>
                </tr>
                <tr>
                    <td class="p">한대훈 체인파트너스 리서치센터장이 파이낸셜뉴스 블록포스트 개최 '블록체인/암호화폐 정책 좌담회'에 참석했습니다. 전문가들은 2019년에는 해외 주요국들이 블록체인 관련 정책을 완비하고 적극적으로 산업육성에 나설 것, 즉 2019년이 글로벌 블록체인 기업들의 세계시장 선점 경쟁 원년이 될 것으로 전망했습니다. 한대훈 리서치 센터장은 "일본은 2020년 도쿄올림픽을 앞두고 암호화폐 결제 시장에서 승부수를 띄울 것"이라 내다보았습니다.</td>
                </tr>
                <tr>
                    <td class="button">
                        <a href="http://www.fnnews.com/news/201812121759183755" target="_blank" rel="noopener">자세히보기</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<style>
.insight {
    padding:25px 20px;
}

.insight .h2 {
  font-family: Roboto;
  font-size: 1.833333em;
  font-weight: bold;
  color: #000000;
  text-transform:uppercase;
  padding-bottom:15px;
}

.insight .image {
    background:rgba(0,0,0,0.1);
}

.insight .image img {
}

.insight .h3 {
    font-family: 'Noto Sans KR';
    font-size: 1.25em;
    font-weight: 500;
    color: #000000;
    padding-top:12px;
}


.insight .p {
    font-family: 'Noto Sans KR';
    font-size: 1em;
    padding-top:6px;
    font-weight: 500;
    color: #989ba0;
}

.insight .hr {
    width:100%;
    height:28px;
}

.insight .button {
    padding-top:20px;
}

.insight .button {
    font-size:0.91666em;
}

</style>
<table>
    <tr>
        <td class="insight">
            <table>
                <tr>
                    <td class="h2">Insight</td>
                </tr>
                <tr>
                    <td class="image">
                        <img src="https://gallery.mailchimp.com/e8ad981263be1cab85d86b3ba/images/4bb310bb-58c5-4a56-996c-0a703a549723.png" alt="">
                    </td>
                </tr>
                <tr>
                    <td class="h3">
                        미국발 디지털 자산 제도화 주목해야
                    </td>
                </tr>
                <tr>
                    <td class="p">
                        미국과 중국 등의 적극적 움직임과 전 세계 디지털 자산 시장에서의 대한민국의 위상을 고려했을 때 '디지털 자산 산업 육성을 위한 우리나라의 용단이 필요하다'는 체인파트너스 리서치센터 한대훈 센터장 기고 칼럼이
                        발행되었습니다. </td>
                </tr>
                <tr>
                    <td class="button">
                        <a href="http://www.thebchain.co.kr/news/articleView.html?idxno=2787" target="_blank" rel="noopener">자세히보기</a>
                    </td>
                </tr>

                <tr><td class="hr">&nbsp;</td></tr>

                <tr>
                    <td class="image">
                        <img src="https://gallery.mailchimp.com/e8ad981263be1cab85d86b3ba/images/d3c77cef-1493-40b4-aeb9-51d2577b40fc.png" alt="">
                    </td>
                </tr>
                <tr>
                    <td class="h3">
                        대한민국 혁신 성장을 위한 대정부 제언 3
                    </td>
                </tr>
                <tr>
                    <td class="p">
                        체인파트너스 리서치센터 발간 세 번째 대정부 제언의 주제는‘디지털 자산 패권을 둘러싼 각국의 총성 없는 전쟁’입니다. 뉴욕에서 열린 Consensus: invest 2018과 태국에서 열린 Beyond Blocks을 참관한 리서치센터가 미국, 태국, 필리핀과 같은 여러 국가들의 발빠른 움직임을 생생하게 전달하며 대한민국의 '진취적인 용단'이 필요하다고 역설했습니다.
                    </td>
                </tr>
                <tr>
                    <td class="button">
                        <a href="https://drive.google.com/file/d/1eEADyBbhqGMQKq3jKGNvkqZK9HpAOOcs/view" target="_blank" rel="noopener">자세히보기</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<style>
.report {
    padding:25px 20px;
}

.report .summary {
    padding:43px 20px 46px;
    background:url('https://gallery.mailchimp.com/e8ad981263be1cab85d86b3ba/images/c47b15ab-500b-44fa-962c-d789435cf787.png') center center no-repeat #3f235f;
    background-size:100%;
    background-size:cover;
}

.report .summary .h2 {
    font-family: Roboto;
    font-size: 1.833333em;
    font-weight: 500;
    line-height: 1.09;
    letter-spacing: -0.2px;
    color: #ffffff;
    text-transform:uppercase;
}

.report .summary .p {
    padding-top:9px;
    font-family: 'Noto Sans KR';
    font-size: 1em;
    font-weight: 500;
    color: #ffffff;
}

.report .list > table > tbody > tr > td:first-child {
    width:65%;
}

.report .list .h3 {
    font-family: 'Noto Sans KR';
    font-size: 1.166666667em;
    font-weight: 600;
    line-height: 1.29;
    color: #000000;
    padding-top:22px;
}

.report .list .sign_n_date {
    font-family: Roboto;
    font-size: 1em;
    font-weight: 500;
    color: #989ba0;
    padding-bottom:23px;
}

.report .list .button a {
    font-size:.916666667em;
}

</style>
<table>
    <tr>
        <td class="report">
            <table>
                <tr>
                    <td class="summary">
                        <table>
                            <tr>
                                <td class="h2">
                                    China Focus Report
                                </td>
                            </tr>
                            <tr>
                                <td class="p">
                                    체인파트너스 리서치센터는 매주 중국 디지털 자산 현황
                                    <br>
                                    보고서인 Crypto China를 발간하고 있습니다.
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="list">
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="h3">
                                                위안화 기준으로 비트코인 가격 추이를 살펴보자
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sign_n_date">
                                                Crypto China 2018.12.05
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="button">
                                                <a href="https://chain.partners/crypto-china-1205-%EC%9C%84%EC%95%88%ED%99%94-%EA%B8%B0%EC%A4%80%EC%9C%BC%EB%A1%9C-%EB%B9%84%ED%8A%B8%EC%BD%94%EC%9D%B8-%EA%B0%80%EA%B2%A9-%EC%B6%94%EC%9D%B4%EB%A5%BC-%EC%82%B4%ED%8E%B4%EB%B3%B4/" target="_blank" rel="noopener">자세히보기</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table><tr><td class="hr line">&nbsp;</td></tr></table>
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="h3">
                                                해시파워 전쟁과 미중 무역전쟁에 좌우되는 시장
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sign_n_date">
                                                Crypto China 2018.12.12
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="button">
                                                <a href="https://drive.google.com/file/d/1_52bs5Lk4xt2WrxvNB0mmDTJH1TjHoav/view" target="_blank" rel="noopener">자세히보기</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table><tr><td class="hr line">&nbsp;</td></tr></table>
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="h3">
                                                중국 OTC 장외시장은 강세장을 예고하는 신호등
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sign_n_date">
                                                Crypto China 2018.12.19
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="button">
                                                <a href="https://drive.google.com/file/d/16Ko5LkRaxXdvAodvJn5LVZb8v1tx0Nu3/view" target="_blank" rel="noopener">자세히 보기</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<style>
.telegram {
    background:#f9fafc;
    padding:30px 0;
}

.telegram .image {
    text-align:center;
}

.telegram .image img {
    width:68px;
    height:68px;
}

.telegram .p {
    padding-top:10px;
    font-family: 'Noto Sans KR';
    font-size: 1em;
    font-weight: 500;
    color: #9b9b9b;
    text-align:center;
}
.telegram .button {
    text-align:center;
    padding-top:18px;
}

.telegram .button a {
    padding:.641666667em 1.5em;
    font-size:0.916666667em;
    color:#2ca5e0;
    border-color:#2ca5e0;
}
</style>
<table>
    <tr>
        <td class="telegram">
            <table>
                <tr>
                    <td class="image">
                        <img src="https://gallery.mailchimp.com/e8ad981263be1cab85d86b3ba/images/450896d5-7f08-497c-853d-d9f243bb27e3.png" alt="">
                    </td>
                </tr>
                <tr>
                    <td class="p">
                        디지털 자산 시황에 대한 리포트가 매일 발간됩니다.<br>
                        텔레그램을 통해 간편하게 받아보세요.
                    </td>
                </tr>
                <tr>
                    <td class="button">
                        <a href="https://t.me/CPResearch" target="_blank" rel="noopener">채널 보기</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>



<style>
.cp_news {
    padding:30px 20px 0;
}

.cp_news .h2 {
  font-family: Roboto;
  font-size: 1.833333em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform:uppercase;
}

.cp_news .h3 {
    padding-top:20px;
    font-family: 'Noto Sans KR';
    font-size:1.25em;
    font-weight: 500;
    color: #000000;
}

.cp_news .p {
    font-family: 'Noto Sans KR';
    font-size: 1em;
    padding-top:6px;
    font-weight: 500;
    color: #989ba0;
}

.cp_news .button {
    padding-bottom:25.3px;
    padding-top:20px;
}

.cp_news .button a {
    font-size:.916666667em;
}

</style>
<table>
    <tr>
        <td class="cp_news">
            <table>
                <tr>
                    <td class="h2">
                        Product &amp; Business<br> Updates
                    </td>
                </tr>
                <tr>
                    <td class="h3">
                        EOSYS, Chintai Manager 선정
                    </td>
                </tr>
                <tr>
                    <td class="p">
                        EOSYS가 EOS 토큰 P2P 임대 플랫폼 Chintai의 투표 관리인(Chintai Manager)로 선정되었습니다. Chintai 투표 관리인 활동을 통해 EOSYS는 EOS 생태계 활성화에 계속 기여해 나갈 것입니다.
                    </td>
                </tr>
                <tr>
                    <td class="button">
                        <a href="https://medium.com/eosys/eosys-%EC%B9%9C%ED%83%80%EC%9D%B4-%ED%88%AC%ED%91%9C-%EA%B4%80%EB%A6%AC%EC%9D%B8%EC%9C%BC%EB%A1%9C-%EC%84%A0%EC%A0%95-705c7290e4ca" target="_blank" rel="noopener">자세히 보기</a>
                    </td>
                </tr>
            </table>
            <table><tr><td class="hr line">&nbsp;</td></tr></table>
            <table>
                <tr>
                    <td class="h3">
                        NOVA Wallet, DApp Station 추가
                    </td>
                </tr>
                <tr>
                    <td class="p">
                        NOVA Wallet에서 간편하게 EOS 기반 DApp을 이용할 수 있는 DApp Station 기능이 추가되었습니다.  DApp Station을 통해 더욱 편리한 EOS 기반 DApp의 설치와 이용이 가능해졌으며 DApp 트렌드 또한 확인할 수 있습니다.</td>
                </tr>
                <tr>
                    <td class="button">
                        <a href="https://medium.com/eosnova/comming-soon-dapp-station-%EA%B3%A7-%EC%9D%B4%EB%A5%99%ED%95%A9%EB%8B%88%EB%8B%A4-1bcc103e6fd5" target="_blank" rel="noopener">자세히 보기</a>
                    </td>
                </tr>
            </table>
            <table><tr><td class="hr line">&nbsp;</td></tr></table>
            <table>
                <tr>
                    <td class="h3">
                        토크노미아, '1st T-Time' 개최
                    </td>
                </tr>
                <tr>
                    <td class="p">
                        토크노미아는 중국 블록체인 미디어 업체 CoinIN과 공동으로 12월 11일 프라이빗 행사 T-Time을 개최했습니다. 본 행사를 통해 한∙중 블록체인 프로젝트와 투자 기관이 만나 업계의 현 상황에 대한 인사이트를 공유했습니다. 토크노미아는 참여사들의 인사이트 공유 및 비즈니스 기회 창출을 도모하는 T-Time 행사를 지속해나갈 예정입니다.
                    </td>
                </tr>
                <tr>
                    <td class="button">
                        <a href="https://medium.com/cp-tokenomia/1st-t-time-%ED%86%A0%ED%81%AC%EB%85%B8%EB%AF%B8%EC%95%84-%ED%94%84%EB%9D%BC%EC%9D%B4%EB%B9%97-%ED%96%89%EC%82%AC-%EC%8A%A4%EC%BC%80%EC%B9%98-3a243d9a8826" target="_blank" rel="noopener">자세히 보기</a>
                    </td>
                </tr>
            </table>
            <table><tr><td class="hr line">&nbsp;</td></tr></table>
        </td>
    </tr>
</table>

<style>
.newsletter.subscribe.button a {
    background:#0f3577;
    display:block;
    color: #ffffff;
    text-align:center;
    font-family: 'Noto Sans KR';
    font-size: 1.166666667em;
    font-weight: bold;
    margin:0 20px;
}

.newsletter.p {
    padding-top:26px;
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #9b9b9b;
}

.newsletter.subscribe.button {
    padding-top:15px;
    padding-bottom:26px;
    text-align:center;
}

</style>

<table>
    <tr>
        <td class="newsletter p">
            체인파트너스가 공유하는 최신 비즈니스 소식을
            <br>
            지인에게 전달해주세요.
        </td>
    </tr>
    <tr>
        <td class="newsletter subscribe button">
            <a href="http://eepurl.com/dPe5l9" target="_blank" rel="noopener">
                뉴스레터 신청하기
            </a>
        </td>
    </tr>
</table>


<style>
.footer {
    padding:30px 20px;
    background:#f9fafc
}

.footer .sns  {
    text-align:center;
}

.footer .sns a {
    margin:0 13px;
}

.footer .sns a img {
    width:40px;
    height:40px;
}

.footer .home {
    padding-top:20px;
    text-align:center;
}

.footer .home a {
    font-family: Roboto;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: #0e2e68;
    text-decoration:underline;
}

.footer .address {
    padding-top:12px;
    font-family: Roboto;
    font-size: 0.916666667em;
    font-weight: 500;
    line-height: 1.45;
    text-align: center;
    color: #9b9b9b;
}

.footer .unsubscribe {
    text-align:center;
    padding-top:10px;
}

.footer .unsubscribe a {
    font-family: 'Noto Sans KR';
    font-size: 0.916666667em;
    font-weight: 500;
    line-height: 1.82;
    text-align: center;
    color: #9b9b9b;
    text-decoration:underline;
}
</style>

<table>
    <tr>
        <td class="footer">
            <table>
                <tr>
                    <td class="sns">
                        <table>
                            <tr>
                                <td class="sns">
                                    <a href="https://www.facebook.com/chainpartners/" target="_blank" rel="noopener">
                                        <img src="https://gallery.mailchimp.com/e8ad981263be1cab85d86b3ba/images/0e8f38cb-da7c-4140-b074-82e707e4b474.png" alt="Chain Parterns Facebook">
                                    </a>
                                    <a href="https://www.youtube.com/channel/UCSbt2XF9zJECot_vqRsAu5w" target="_blank" rel="noopener">
                                        <img src="https://gallery.mailchimp.com/e8ad981263be1cab85d86b3ba/images/3c8b98d1-386e-49a8-baa4-a1752292a3d7.png" alt="Chain Parterns Youtube">
                                    </a>
                                    <a href="https://twitter.com/_ChainPartners" target="_blank" rel="noopener">
                                        <img src="https://gallery.mailchimp.com/e8ad981263be1cab85d86b3ba/images/a1fe2f5b-e4a3-46d5-8221-843da5d93438.png" alt=" Chain Partners Twitter">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="home">
                        <a href="#" target="_blank" rel="noopener">Chain.partners</a>
                    </td>
                </tr>
                <tr>
                    <td class="address">
                        Wework Seolleung <br>
                        06210 302, Teheran-ro Gangnam-gu Seoul, Korea<br>
                        Copyright © 2018 Chain Partners, All rights reserved. </td>
                </tr>
                <tr>
                    <td class="unsubscribe">
                        <a href="*|UNSUB|*" target="_blank" rel="noopener">구독취소</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
<!-- @@close -->
